<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ "/" | relative_url }}">Alex Kuiper's Blog</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ "/" | relative_url }}">Posts</a></li>
        <li><a href="{{ "/projects.html" | relative_url }}">Projects</a></li>
        <li><a href="{{ "/about.html" | relative_url }}">About</a></li>
      </ul>
    </div>
  </div>
</nav>
